.main {
    padding: 0;
}

.title-text {
    font-size: 45px;
    /*font-family: 'Sen';*/
    font-weight: 700;
}

.display-1,
.sub-text {
    font-weight: 700;
    text-align: center;
}

.title-half {
    /*background: linear-gradient(#8ADEC7, #4A9E87);*/
    /*box-shadow: 0px 0px 32px #888;*/
    background: #255F85;
    padding: 0;
    margin: auto;
    min-width: 50%;
}

.function-half {
    min-width: 50%;
    padding: 0;
    margin: auto;
}

.main-text {
    /*font-family: 'Roboto', sans-serif;*/
}

.num-text {
    font-size: 120px;
    text-shadow: 8px 8px 16px #4A9E87;
}

.join-btn {
    color:#255F85;
    border-color:#255F85;
}

.create-btn {
    color:#2B303A;
    border-color:#2B303A;
}

.btn {
    /*font-family: 'Sen';*/
}

.credit-container {
    position: relative;
    bottom: 0;
    height: auto;
    min-height: 5vh;
}

.credit-text {
    position: absolute;
    right: 15px;
    bottom: 15px;
    /*font-family: 'Sen', sans-serif;*/
}

#joinForm,
#createForm {
    /*font-family: 'Sen';*/
}