html, body {
    height:100%;
}

.main {
    min-height:100vh;
}

.title-text {
    font-size:45px;
    font-family: 'Sen';
    font-weight: 700;
}

.display-1, .sub-text{
    font-weight: 700;
    text-align: center;
}

.display-1 {
    line-height: 15vh;
}

.title-half {
    background: linear-gradient(#8ADEC7, #4A9E87);
    box-shadow: 8px 0px 16px #AAA;
}

.main-text {
    font-family: 'Roboto', sans-serif;
}

.num-text {
    font-size: 120px;
    text-shadow: 8px 8px 16px #4A9E87;
}

.btn-lg {
    font-family: 'Sen';
}

.credit-text {
    position:absolute;
    right:15px;
    bottom:15px;
    font-family: 'Sen', sans-serif;
}