html, body {
    background-color: #F4F4DD !important;
}

.TitleDiv {
    margin: auto;
    margin-top: 10vh;
}

.HomeHeaderSmall {
    font-family: "Lato";
    font-size:6vw;
    font-weight:900;
    text-align: center;
    line-height: 15vh;
    color: #FFAB2E;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}

.HomeHeaderLarge {
    font-family: "Lato";
    font-size:7vw;
    font-weight:900;
    text-align: center;
    line-height: 5vh;
    color: #F44848;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}

.CreateBtn {
    background: #FFAB2E;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 3vw;
    margin: auto;
    margin-right: 20px;
    outline: none;
    border: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    color: #fafafa;
}

.BtnDiv {
    margin: auto;
    width: 40% !important;
}

.JoinBtn {
    background: #F44848;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 3vw;
    margin: auto;
    margin-left:20px;
    outline: none;
    border: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    color: #fafafa
}

.JoinBtn:hover {
    background-color: #D42828;
}

button:focus {
    outline:none;
}

.CreateBtn:hover {
    background-color: #DF8B0E;
}

.credits {
    position:absolute;
    bottom: 10px;
    text-align: center;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
}